.header{
    display: flex;
    justify-content: space-between;
}
.header__left {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__middle{
    display: flex;
    flex: 0.6;
    align-items: center;
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
}
.header__middle > input{
    width: 200px;
    padding: 10px;
    outline-width: 0;
    font-size: small;
    background-color: transparent;
    border: none;
    margin: 0.5px;
}
.header__right{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
    